*{
    padding: 0;
    margin: 0;
    border: none;
}

body {
    width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    .wrapper-dkph{
        width: 1329px;
        height: 300px;

        header{
            margin: 38px 0;
            h1{
                font-size: 40px;
                text-align: center;
            }
        }
        .table-dkph{
            width: 1329px;
            height: 506px;
            display: flex;
            flex-direction: column;
            border: 1px solid #333;
            .dien-thong-tin-dkhp{
                width: 100%;
                height: 243px;
                display: flex;
                flex-direction: row;
                .wrapper-thong-tin-tengv{
                    width: 753px;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                   
                    .thong-tin-tengv{
                        width: 209px;
                        height: 100%;
                        margin-top: 37px;
                        margin-left: 172px;
                        gap: 19px;
                        display: flex;
                        flex-direction: column;
                        .ten-gv-dkph{
                            width: 197px;
                            height: 36px;
                            p{
                                width: 100%;
                                height: 100%;
                                font-size: 30px;
                            }
                        }
                        .ma-gv-dkph{
                            width: 189px;
                            height: 36px;
                            p{
                                width: 100%;
                                height: 100%;
                                font-size: 30px;
                            }
                        }
                        .sdt-dkhp{
                            width: 60px;
                            height: 36px;
                            p{
                                width: 100%;
                                height: 100%;
                                font-size: 30px;
                            }
                        }
                        .email-dkhp{
                            width: 76px;
                            height: 36px;
                            p{
                                width: 100%;
                                height: 100%;
                                font-size: 30px;
                            }
                        }
                    }
                    .dien-thong-tin-tengv{
                        width: 347px;
                        height: 100%;
                        margin-top: 39px;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 19px;
                        .ten-gv-dkph-input{
                            width:250px;
                            height: 32px;
                            input{
                                width: 250px;
                                height: 32px;
                                border: 1px solid #333;
                            }
                        }
                        .ma-gv-dkph-input{
                            width: 61px;
                            height: 32px;
                            input{
                                width: 61px;
                                height: 32px;
                                border: 1px solid #333; 
                            }
                        }
                        .sdt-dkhp-input{
                            width: 250px;
                            height: 32px;
                            input{
                                width: 250px;
                                height: 32px;
                                border: 1px solid #333; 
                            }
                        }
                        .email-dkhp-input{
                            width: 250px;
                            height: 32px;
                            input{
                                width: 250px;
                                height: 32px;
                                border: 1px solid #333; 
                            }
                        }
                    }
                }
                .wrapper-thong-tin-phong-hoc{
                    width: 576px;
                    height: 100%;
                    .thong-tin-phong-hoc{
                        margin-top: 37px;
                        display: flex;
                        flex-direction: column;
                        gap: 19px;
                        justify-content: space-between;
                        .wrapper-phong-hoc{
                            display: flex;
                            flex-direction: row;
                            .phong-hoc-text{
                                width: 156px;
                                height: 36px;
                                p{
                                    font-size: 30px;
                                    width: 156px;
                                    height: 36px;
                                }
                            }
                            .phong-hoc-input{
                                width: 122px;
                                height: 32px;
                                margin-left: 127px;
                                border: 1px solid #333;
                                input{
                                    width: 122px;
                                    height: 32px;
                                }
                            }
                        }
                        .wrapper-so-luong-hoc-sinh{
                            display: flex;
                            flex-direction: row;
                            .so-luong-hoc-sinh-text{
                                width: 271px;
                                height: 36px;
                                p{
                                    font-size: 30px;
                                    width: 271px;
                                    height: 36px;
                                }
                            }
                            .so-luong-hoc-sinh-input{
                                width: 122px;
                                height: 32px;
                                margin-left: 12px;
                                border: 1px solid #333;
                                input{
                                    width: 122px;
                                    height: 32px;  
                                }
                            }
                        }
                        .wrapper-ngay-muon{
                            display: flex;
                            flex-direction: row;
                            .ngay-muon-text{
                                width: 164px;
                                height: 36px;
                                p{
                                    font-size: 30px;
                                    width: 164px;
                                    height: 36px;
                                }
                            }
                            .ngay-muon-input{
                                width: 122px;
                                height: 32px;
                                margin-left: 25px;
                                border: 1px solid #333;
                                input{
                                    width: 122px;
                                    height: 32px;
                                }
                            }
                        }
                        .gio-muon-wrapper{
                            display: flex;
                            flex-direction: row;
                            .gio-muon-text{
                                width: 138px;
                                height: 36px;
                                p{
                                    font-size: 30px;
                                    width: 138px;
                                    height: 36px;
                                }
                            }
                            .gio-muon-input{
                                width: 155px;
                                height: 32px;
                                margin-left: 18px;
                                border: 1px solid #333;
                                input{
                                    width: 155px;
                                    height: 32px;
                                }
                            }
                            .den-text{
                                width: 54px;
                                height: 36px;
                                margin-left: 20px;
                                p{
                                    width: 54px;
                                    height: 36px;
                                    font-size: 30px;
                                }
                            }
                            .den-input{
                                width: 155px;
                                height: 32px;
                                border: 1px solid #333;
                                margin-left: 20px;
                                input{
                                    width: 155px;
                                    height: 32px;
                                }
                            }
                        }
                    }
                }
            }
            .wrappep-note-button-dkph{
                width: 100%;
                height: 263px;
                display: flex;
                flex-direction: row;
                .wrapper-note-dkph{
                    width: 732px;
                    height: 210px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 17px;
                    margin-left: 172px;
                    .note-dkph{
                        width: 113px;
                        height: 36px;
                        margin-top: 19px;
                        p{
                            font-size: 30px;
                            width: 113px;
                            height: 36px;
                        }
                    }
                    .note-dkhp-input{
                        width: 560px;
                        height: 162px;
                        border: 1px solid #333;
                        textarea{
                            width: 560px;
                            height: 162px;
                            resize: none;
                            font-size: 32px;
                        }
                    }

                }
                .button-dang-ky-dkph{
                    width: 233px;
                    height: 84px;
                    margin-top: 109px;
                    margin-left: 80px;
                    border: 1px solid #333;
                    button{
                        width: 233px;
                        height: 84px;
                        font-size: 30px;
                        text-align: center;
                        background-color: #fff;
                    }
                }
            }
        }
            
     }
}

