* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
body .wrapper-dkph {
  width: 1329px;
  height: 300px;
}
body .wrapper-dkph header {
  margin: 38px 0;
}
body .wrapper-dkph header h1 {
  font-size: 40px;
  text-align: center;
}
body .wrapper-dkph .table-dkph {
  width: 1329px;
  height: 506px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp {
  width: 100%;
  height: 243px;
  display: flex;
  flex-direction: row;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv {
  width: 753px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv {
  width: 209px;
  height: 100%;
  margin-top: 37px;
  margin-left: 172px;
  gap: 19px;
  display: flex;
  flex-direction: column;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .ten-gv-dkph {
  width: 197px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .ten-gv-dkph p {
  width: 100%;
  height: 100%;
  font-size: 30px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .ma-gv-dkph {
  width: 189px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .ma-gv-dkph p {
  width: 100%;
  height: 100%;
  font-size: 30px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .sdt-dkhp {
  width: 60px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .sdt-dkhp p {
  width: 100%;
  height: 100%;
  font-size: 30px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .email-dkhp {
  width: 76px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .thong-tin-tengv .email-dkhp p {
  width: 100%;
  height: 100%;
  font-size: 30px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv {
  width: 347px;
  height: 100%;
  margin-top: 39px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 19px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .ten-gv-dkph-input {
  width: 250px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .ten-gv-dkph-input input {
  width: 250px;
  height: 32px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .ma-gv-dkph-input {
  width: 61px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .ma-gv-dkph-input input {
  width: 61px;
  height: 32px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .sdt-dkhp-input {
  width: 250px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .sdt-dkhp-input input {
  width: 250px;
  height: 32px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .email-dkhp-input {
  width: 250px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-tengv .dien-thong-tin-tengv .email-dkhp-input input {
  width: 250px;
  height: 32px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc {
  width: 576px;
  height: 100%;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: space-between;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-phong-hoc {
  display: flex;
  flex-direction: row;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-phong-hoc .phong-hoc-text {
  width: 156px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-phong-hoc .phong-hoc-text p {
  font-size: 30px;
  width: 156px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-phong-hoc .phong-hoc-input {
  width: 122px;
  height: 32px;
  margin-left: 127px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-phong-hoc .phong-hoc-input input {
  width: 122px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-so-luong-hoc-sinh {
  display: flex;
  flex-direction: row;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-so-luong-hoc-sinh .so-luong-hoc-sinh-text {
  width: 271px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-so-luong-hoc-sinh .so-luong-hoc-sinh-text p {
  font-size: 30px;
  width: 271px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-so-luong-hoc-sinh .so-luong-hoc-sinh-input {
  width: 122px;
  height: 32px;
  margin-left: 12px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-so-luong-hoc-sinh .so-luong-hoc-sinh-input input {
  width: 122px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-ngay-muon {
  display: flex;
  flex-direction: row;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-ngay-muon .ngay-muon-text {
  width: 164px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-ngay-muon .ngay-muon-text p {
  font-size: 30px;
  width: 164px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-ngay-muon .ngay-muon-input {
  width: 122px;
  height: 32px;
  margin-left: 25px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .wrapper-ngay-muon .ngay-muon-input input {
  width: 122px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper {
  display: flex;
  flex-direction: row;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .gio-muon-text {
  width: 138px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .gio-muon-text p {
  font-size: 30px;
  width: 138px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .gio-muon-input {
  width: 155px;
  height: 32px;
  margin-left: 18px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .gio-muon-input input {
  width: 155px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .den-text {
  width: 54px;
  height: 36px;
  margin-left: 20px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .den-text p {
  width: 54px;
  height: 36px;
  font-size: 30px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .den-input {
  width: 155px;
  height: 32px;
  border: 1px solid #333;
  margin-left: 20px;
}
body .wrapper-dkph .table-dkph .dien-thong-tin-dkhp .wrapper-thong-tin-phong-hoc .thong-tin-phong-hoc .gio-muon-wrapper .den-input input {
  width: 155px;
  height: 32px;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph {
  width: 100%;
  height: 263px;
  display: flex;
  flex-direction: row;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph .wrapper-note-dkph {
  width: 732px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  margin-left: 172px;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph .wrapper-note-dkph .note-dkph {
  width: 113px;
  height: 36px;
  margin-top: 19px;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph .wrapper-note-dkph .note-dkph p {
  font-size: 30px;
  width: 113px;
  height: 36px;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph .wrapper-note-dkph .note-dkhp-input {
  width: 560px;
  height: 162px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph .wrapper-note-dkph .note-dkhp-input textarea {
  width: 560px;
  height: 162px;
  resize: none;
  font-size: 32px;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph .button-dang-ky-dkph {
  width: 233px;
  height: 84px;
  margin-top: 109px;
  margin-left: 80px;
  border: 1px solid #333;
}
body .wrapper-dkph .table-dkph .wrappep-note-button-dkph .button-dang-ky-dkph button {
  width: 233px;
  height: 84px;
  font-size: 30px;
  text-align: center;
  background-color: #fff;
}/*# sourceMappingURL=DKPHPAGE.css.map */